@font-face {
  font-family: "Noto Sans";
  src: url("/assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* html {
  height: 100%;
} */
body {
  height: auto;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Noto Sans", sans-serif;
  min-height: 100vh;
  background: linear-gradient(180deg, #ebf2fc 0%, #eefbf9 100%), #fff;
}
button {
  font-family: "Noto Sans", sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0;
}
.container {
  width: 375px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 16px;
}

.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 40px;
  padding: 16px;
  border-radius: 8px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-header-tittle {
  font-size: 34px;
  line-height: 1;
  font-weight: 700;
  color: hsl(227, 75%, 14%);
  letter-spacing: -1px;
  margin-bottom: 24px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.nav-item-button {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: hsl(227, 75%, 14%);
  letter-spacing: -0.3px;
  padding: 8px 20px;
  border-radius: 999px;
  border: 1px solid hsl(217, 61%, 90%);
  background-color: hsl(200, 60%, 99%);
  box-shadow: 0 1px 2px 0 rgba(184, 196, 215, 0.4);
}
.nav-item-button.nav-item-button--active {
  background-color: hsl(3, 77%, 44%);
  color: hsl(200, 60%, 99%);
}
.themes-button {
  width: 50px;
  height: 50px;
  background-color: hsl(0, 0%, 93%);
  border-radius: 12px;
}

.button-header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  gap: 12px;
}
.button-all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 40px;
  background-color: red;
  border-radius: var(--corner-radius-full, 999px);
  cursor: pointer;
}
.button-active {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--corner-radius-full, 999px);
  background-color: #fff;
  cursor: pointer;
}
.button-inactive {
  width: 80px;
  height: 40px;
  cursor: pointer;
  border-radius: var(--corner-radius-full, 999px);
  background-color: #fff;
}

.list-items {
  gap: 12px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.gird-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(194, 206, 225, 0.2),
    0 1px 5px 1px rgba(194, 206, 225, 0.22);
  background-color: hsl(200, 60%, 99%);
}
.devLens-tittle {
  display: flex;
  justify-content: center;
}
.description {
  padding-left: 16px;
}
.warp {
  width: 60px;
  height: 60px;
}
.name {
  color: var(--colors-neutral-900, #091540);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
  padding-bottom: 8px;
}

.button-remove {
  padding: 8px 16px;
  font-size: 16px;
  color: hsl(227, 75%, 14%);
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.5px;
  border-radius: var(--corner-radius-full, 999px);
  border: 1px solid var(--colors-neutral-300, #c6c6c6);
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 24px 32px 64px;
  }
  .content-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .list-items {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .content-header-tittle {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 40px 135px 64px;
  }
  .list-items {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}
